body{
    background-color: antiquewhite;
}
h1{
    color: blue;
}
p{
    color: red;
}
blockquote.boo{
    color: darkgreen;
    font-family: Segoe UI;
    font-size: 150%;
    border: 2px solid black;
    padding: 30px;
    margin: 50px;
}